@media screen and (display-mode: standalone){
  Header {
    height: 88px !important;
    padding-top: 4rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem !important;
  }
}
.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    transition: all 0.5s cubic-bezier(.88,.7,.45,1.23);
    margin-top: 0;
  }
 /* Studs: cubic-bezier(.88,.7,.45,1.23) 
    Snabb in: cubic-bezier(.21,.95,.27,1)
 */

  .menu.easing1{
    /* 
    Studs: cubic-bezier(.88,.7,.45,1.23)
    */
    transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  .menu.easing2{
    /* 
    Snabb in: cubic-bezier(.21,.95,.27,1)
    */
    transition-timing-function: cubic-bezier(.21,.95,.27,1);
  }

  .menu.easing3{
    /* 
    Linear: cubic-bezier(.5,.5,.5,5)
    */
    transition-timing-function: cubic-bezier(.5,.5,.5,.5);
  }
  .menu.easing4{
    /* 
    easeIn: cubic-bezier(0.5, 0, 0.75, 0)
    */
    transition-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
    
  }



.slide.inactive{
  transform: translateX(400px);
}
.slide.active {
  visibility: visible;
  transform: translateX(0);
}
.fade.active{
    visibility: visible;
    opacity: 1;
}
.fade.inactive{
  opacity: 0;
}


.menuFade{
  opacity: 0;
  transition: opacity 0.8s;
}

  .menuFade.easing1{
    /* 
    Studs: cubic-bezier(.88,.7,.45,1.23)
    */
    transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  .menuFade.easing2{
    /* 
    Snabb in: cubic-bezier(.21,.95,.27,1)
    */
    transition-timing-function: cubic-bezier(.21,.95,.27,1);
  }

  .menuFade.easing3{
    /* 
    Linear: cubic-bezier(.5,.5,.5,5)
    */
    transition-timing-function: cubic-bezier(.5,.5,.5,.5);
  }
  .menuFade.easing4{
    /* 
    easeIn: cubic-bezier(0.5, 0, 0.75, 0)
    */
    transition-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
    
  }
