@media screen and (display-mode: standalone){
  Header {
    height: 88px !important;
    padding-top: 4rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem !important;
  }
}
.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    transform: translateX(500px);
    transition: transform 0.5s cubic-bezier(.88,.7,.45,1.23) , visibility 0.4s;
    margin-top: 0;
  }
 /* Studs: cubic-bezier(.88,.7,.45,1.23) 
    Snabb in: cubic-bezier(.21,.95,.27,1.04)
 */

  .menu.active {
    visibility: visible;
    transform: translateX(0);
  }
  .menu.active2 {
    visibility: visible;
    transform: translateX(0);
  }
